---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import FormMedlem from '../components/FormMedlem.astro';
import FormStot from '../components/FormStot.astro';
import CardsForside from '../components/CardsForside.astro';
import Footer from '../components/Footer.astro';
import Medlemsfordele from "../components/Medlemsfordele.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name=Forside> 
    <title>Forside</title>
  </head>
  
<MainLayout>

   
<!-- Forside -->
<section class="flex items-center justify-center min-h-screen">
    <img src="/bg3tester.webp" alt="Baggrund forside" class="absolute inset-0 object-cover w-full h-full z-0" loading="lazy" >
    <div class="z-10">
        <div class="md:grid md:grid-cols-2 gap-0 place-items-center">
            <div class="md:ml-20 m-10 pt-10 md:p-10 md:mt-32">
                <div class="text-white font-Lato">
                    <h3 class="md:text-5xl text-xl font-bold mb-5 md:mb-8 md:leading-tight">Velkommen til <br> Danmarks Naturfredningsforening</h3>
                    <p class="font-extralight md:text-2xl md:leading-normal">
                        Naturen og klimaet er under pres, men sammen kan vi stadig nå at vende udviklingen. Bliv medlem eller giv et bidrag og vær med til at skabe grøn forandring nu!
                    </p>
                </div>
            </div>
            
            <!-- Formular -->
            <FormMedlem fom="Bliv Medlem"></FormMedlem>
        </div>
    </div>
</section>

    
    <!-- Section-2 -->
    <section class="flex items-center justify-center min-h-screen">
        <div class="relative w-full h-full flex flex-col-reverse md:flex-row">
            
            <!-- <div class="bg-cover bg-center w-full md:w-1/2 h-64 md:h-screen" style="background-image: url('/sec2tester.webp');" loading="lazy"></div> -->
            
            <div class="md:w-1/2  md:h-screen">
                <img src="/sec2tester.webp" alt="to insekter på en blomst der grøn, insekterne har forskellige farver" class="object-cover w-full h-full" loading="lazy">
            </div>

            <div class="relative w-full md:w-1/2 flex items-center ">
                <div class="flex flex-col md:flex-row md:absolute  md:-translate-x-1/4 space-y-0 md:space-x-5 ">

                    <CardsForside imageUrl="vandicon.svg" overskrift="Mere liv i havet" tekst="Vi arbejder for mere liv i danske have og for at beskytte 30% af havet omkring Danmark i tråd med FN's Biodiversitetskonvention."></CardsForside>

                    <CardsForside imageUrl="gifticon.svg" overskrift="Beskyt drikkevandet" tekst=" Vi arbejder for at beskytte drikke-vandet ved at forbyde pesticider og gift i grundvandsområder og ved drikkevandsboringer."></CardsForside>

                    <CardsForside imageUrl="skraldicon.svg" overskrift="Danmark uden affald" tekst=" Vi arbejder for et affaldsfrit Danmark inden 2050 og for at stoppe brug-og-smid-væk-kulturen for at beskytte klimaet og naturen."></CardsForside>
                    
                </div>
            </div>
        </div>
    </section>
    
    <!-- Section-3 -->
    
    <section class="md:grid grid-cols-2 gap-0 text-left">
        <!-- Venstre side med h3 og tekst -->
        <div class=" font-Lato text-blå500  bg-guld50 md:p-20 p-10">
            <h3 class="md:text-3xl text-xl font-bold mb-8 leading-normal">Vi arbejder for en rigere natur, et rent miljø og en bæredygtig fremtid</h3>
          
            <p class="text-lg leading-loose ">
                Danmarks Naturfredningsforening er landets største grønne organisation med over 135.000 medlemmer og 1.500 frivillige. Vi arbejder for at bevare Danmarks natur og kan som de eneste rejse fredningssager. Vores indsats har allerede sikret, at cirka fem procent af Danmarks areal er fredet.
            </p>
            
            <div class="mt-10">
                <Button variant="primary" size="medium" type="submit" id="submit" name="submit">Læs mere her</Button>
            </div>
        </div>
        
    
        <!-- Højre side med video -->
        <div class="flex items-center justify-center bg-guld50">
            <iframe title="vimeo-player" src="https://player.vimeo.com/video/339964997?h=7d6f930047" width="640" height="360" frameborder="0" allowfullscreen loading="lazy"></iframe>
        </div>
    </section>

    <Medlemsfordele></Medlemsfordele>
    
        <!-- Section-5 -->
        <section class="relative flex items-center h-screen">
            <img src="/bidragtester.webp" alt="En familie som går igennem naturen" class="absolute inset-0 object-cover w-full h-full z-0" loading="lazy">
            <div class="z-10">
                <div class="md:grid md:grid-cols-2 gap-0 place-items-center">
                    <div class="z-10 md:ml-20 m-10 md:p-10 pt-10 md:mt-32">
                        <div class="text-white font-Lato">
                            <h3 class="md:text-5xl text-xl font-bold mb-5 md:mb-8 md:leading-tight">Giv et bidrag til naturen</h3>
                            <p class="font-extralight md:text-2xl md:leading-normal">Vores danske natur er hårdt presset, men sammen kan vi stadig nå at vende udviklingen. Giv naturen en gave fra dig. Du vælger selv, hvor meget du vil donere - og du kan få fradrag.</p>
                        </div>
                    </div>
                    
                    <!-- Formular -->
                    <FormStot fos="Giv et Bidrag"></FormStot>
                </div>
            </div>
        </section>
        
          

        <!-- section-6 -->
        <section class="md:grid grid-cols-2 gap-0 h-screen text-left">
            <!-- Venstre side med h3 og tekst -->
            <div class="font-Lato text-white flex flex-col items-center justify-center bg-blå400 md:p-20 p-10">
                <h3 class="md:text-3xl text-xl font-bold mb-8 leading-normal">Vi arbejder for naturen, en bæredygtig fremtid og et klima i balance</h3>
                <p class="text-lg leading-loose">
                    Naturen har brug for hjælp, fordi mange naturområder risikerer at gro til og miste deres unikke levesteder. Du kan bidrage ved at deltage i Danmarks Naturfredningsforenings naturplejeprojekter og lære, hvordan du plejer naturen lokalt. Meld dig ind i foreningens netværk for at udveksle viden og erfaringer med andre naturplejeentusiaster.​ 
                </p>
            </div>
        
            <div class="relative overflow-hidden bg-blå400">
                <img src="infog.svg" alt="info grafik" class="w-full h-full ">
            </div>
        </section>
        
</MainLayout>
</html>
